# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Output plots
*.png
*.pdf

# Environment files
.env
